#formInputs {
	border: 1px solid #ccc;
	height: 300px;
	padding: 5px;
}
.usableInput {
	padding: 10px 5px 5px 5px;
	background: #fff;
	width: 233px;
}
.usableInput:hover {
	border: 1px solid #ccc;
	border-top: 5px solid #ccc;
	padding: 5px 4px 4px 4px;
	border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	cursor: move;
}
.usableInput *:hover, .usableInput input:hover  {cursor: move !important;}
.configuring {
	border: 1px solid #ccc;
	border-top: 5px solid #ccc;
	padding: 5px 4px 4px 4px;
	border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
}
.ui-draggable-dragging {
	border: 1px solid #ccc;
	border-top: 5px solid #ccc;
	padding: 5px 4px 4px 4px;
	border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	box-shadow: 5px 5px 5px #efefef;
		-moz-box-shadow: 5px 5px 5px #efefef;
		-webkit-box-shadow: 5px 5px 5px #efefef;
}
.drop-hover {
	box-shadow: inset 5px 5px 5px #efefef;
		-moz-box-shadow: inset 5px 5px 5px #efefef;
		-webkit-box-shadow: inset 5px 5px 5px #efefef;
}
.ui-state-highlight { background: #fcfcfc; }
.hiddenConfig { display: none; }